@charset "UTF-8";
 body {

    background-image: linear-gradient(to right, #F23005,#BF7069, #730202);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
 }
 h1 {
     color: white;

 }
 h2 {

    color: white;
 }
p {
    color: white;
    text-align: justify;
}

